<div class="container mt-5">
<div class="row">
  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-secondary"><h2>My Conversations</h2></li>
      <% @conversations.each do |conversation| %>
        <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
          <% if conversation.sender_id == current_user.id %>
            <% recipient = User.find(conversation.recipient_id) %>
          <% else %>
            <% recipient = User.find(conversation.sender_id) %>
          <% end %>
          <%= link_to recipient.username, conversation_messages_path(conversation), class: "list-group-item"%>
        <% end %>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6">
    <ul class="list-group">
      <li class="list-group-item list-group-item-secondary"><h2>All Users</h2></li>
        <% @users.each do |user| %>
          <% if user.id != current_user.id %>
            <%= link_to user.username, conversations_path(sender_id: current_user.id, recipient_id: user.id), method: 'post', class: "list-group-item" %>
          <% end %>
        <% end %>
    </ul>
  </div>
</div>
</div>
