<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <ul class="list-group">
        <li class="list-group-item list-group-item-secondary"><h2>My Conversations</h2></li>

          <% @conversations.each do |conversation| %>
            <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(conversation.sender_id) %>
              <% end %>
                  <% end %>
                <% if recipient.present? %>
                  <%= link_to ("Send message to" +  " " + recipient.username), conversation_messages_path(conversation), class: "list-group-item no_underscore" %>
                <% else %>
                  <p class="list-group-item m-0"> Sorry, no conversation have been found.</p>
                  <% end %>
              <% end %>
      </ul>
    </div>
  </div>
</div>
