<div class="header">
  <h1>Welcome to GiftIt</h1>
    <p class="about fs-4">GiftIt was created to help those who aren't able to afford study courses or supplemental study materials for exams such as the Bar, MCAT, etc. We rely on the kindness of those who are in a position to gift their previously used study materials to others.</p>
    <br /><br />
    <p class="lead">Do you have study materials you would like to gift? Or do you want to see what gifts are available? Please <%= link_to "Sign Up", signup_path,  class:"no_underscore_white" %> for an account.</p>
    <p class="lead">Already have an account? Please <%= link_to "Log In", login_path,  class:"no_underscore_white" %> to post a new gift or edit/delete an existing one.</p>
</div>

<section class="testimonials text-center bg-light">
    <div class="container">
    <h2 class="mb-5">What people are saying...</h2>
    <div class="row">
        <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <h5>rockdog</h5>
            <p class="font-weight-light mb-0">"I'm so glad that my old study materials can go to someone who really needs them."</p>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <h5>suzyq</h5>
            <p class="font-weight-light mb-0">"I thought I was going to need to take out a loan to afford bar exam prep materials. I'm so thankful that someone gifted exactly what I needed."</p>
        </div>
        </div>
        <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
            <h5>sarahj</h5>
            <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
        </div>
        </div>
    </div>
    </div>
</section>
