.loginContainer {
  border: 1px solid #aedacd;
  background: #FDDCD7;
  border-radius: 10px;
  margin: auto;
}

div.alert.alert-danger {
  text-align: center;
}

div.alert.alert-success {
  text-align: center;
}
