

<div class="giftContainer text-center  mt-5 p-3">
  <strong>Name:</strong>
  <h1 class="mb-3">  <%= @category.name %></h1>
  <%= link_to 'Go Back', categories_path, class: "d-flex justify-content-end no_underscore " %>
</div>
