<footer class="footer fixed-bottom mt-auto py-3 bg-light text-center">
    <div class="container">
    <div class="row">
        <div class=" h-100 text-center text-lg-left my-auto">
        <p class="text-muted small mb-4 mb-lg-0">&copy; GiftIt 2021. All Rights Reserved.</p>
        </div>
    </div>
    </div>
</footer>
